

<html>
<head>
    <title> 일단 웹뷰 </title>
</head>

<body>

일단 웹뷰를 표시하도록 합시다 !

<a href="jacascript:location.reload(true)">새로고침</a>
<a href="javascript:window.Android.call_log('연동테스트');">연동</a>
</body>
</html>