<!DOCTYPE html>
<thml lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Nalazoo Login Amdin</title>
  </head>

  <body>
  <center>
  <h3>로그인</h3>


    <table>
      <tr>
        <form action="/" method="POST">
          <label for="user_id">email</label>
          <input id="user_id" name="user_id" type="text" pleaceholder="ID">
          <br />
          <label for="password">password</label>
          <input id="password" name="password" type="password" placeholder="Password">
          <br />
          <button type="button " onclick="location.href='/'">로그인</button>
        </form>
      <tr>
        <td><input type="button" class="btn" value="회원가입" onclick="location.href='/signup'" /> </td>
      </tr>
    </table>

  </center>
  </body>
</thml>