
<form action="/signup" method="POST" class="signupform">

    <label for="email"> E-MAIL </label>
    <input name="email" type="email" required />

    <label for="password">PASSWORD</label>
    <input name="password" type="password" required />

    <label for="name">NAME</label>
    <input name="name" type="text" required />

    <label for="adminCode">ADMIN CODE</label>
    <input name="adminCode" type="text" />
    <button class="btn">SIGNUP! </button>
</form>
